/* vars -- colors */
$color--navy: #3a3a46;
$color--green: #b4d455;
$color--red: #ca372a;
$color--purple: #661b87;
$color--pink: #e61973;
$color--white: #ffffff;
$color--black: #222222;

/* vars -- type - fonts */
$font--display: 'Kelly Slab', sans-serif;
$font--body: 'Open Sans', sans-serif;

/* vars -- type - weights */
$regular: 400;
$bold: 700;

/* vars -- type - sizes */
$xxxl: 2rem;
$xxl: 1.6rem;
$xl: 1.3rem;
$l: 1.2rem;
$m: 1.1rem;
$s: 1rem;
$xs: 0.8rem;
$xxs: 0.7rem;

/* vars -- animation */
$timing: 1s;

/* vars -- whitespace */
$spacing: 40px;

/* vars -- styles */
$border: 4px;
$border-radius: 10px;

/* vars -- breakpoints */
$breakpoints: (
  'wide'          '(min-width: 1440px)',
  'desktop'       '(min-width: 1100px)',
  'laptop'        '(min-width: 900px)',
  'tablet'        '(min-width: 800px)',
  'mobile'        '(min-width: 650px)',
  'tiny'          '(min-width: 420px)',
);

/* mixins */
@mixin media-query($queries...) {

  @each $query in $queries {

    @each $breakpoint in $breakpoints {
      $name:        nth($breakpoint, 1);
      $declaration: nth($breakpoint, 2);

      @if $query == $name and $declaration {
        
        @media only screen and #{$declaration} {
          @content;
        }

      }

    }

  }

}

@mixin debug {
  outline: 1px dotted red;
}

@mixin reset-link {
  font-weight: unset;
  color: unset;
  text-decoration: none;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {

    &::before,
    &::after {
      content: none;
    }

  }

}

/* styles */
.page-enter-active,
.page-leave-active {
  transition: transform ( $timing / 2 ) ease;
}

.page-enter {
  transform: translateX(-101vw);
}

.page-leave-to {
  transform: translateX(101vw);
}